.dice {
  float: left;
  width: 32px;
  background: #F5F5F5;
  border: #999 1px solid;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}
#btn{
  display: none;
}

#output {
  display: none;
}
.first{
  align-content: left;


}

.second{
  align-content: right;
}
body{
  font-weight: 600;
  background-color: green;
  background-repeat: no-repeat;
}
h1{
  font-style: normal;
  font-size: 100px;
  font-family: fantasy;
  color: scarlet;
}
